{{ define "main" }}
<header class="page-header">
    {{ if .Description }}
    <p class="page-description">{{ .Description }}</p>
    {{ end }}
</header>

<div class="content-list">
    {{ range .Pages }}
    <article class="list-item">
        <h2 class="item-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ if .Date }}
        <div class="item-meta">
            <time>{{ .Date.Format "January 2, 2006" }}</time>
        </div>
        {{ end }}
        <div class="item-summary">
            {{ .Summary }}
        </div>
        <a href="{{ .Permalink }}" class="read-more">Read more &rarr;</a>
    </article>
    {{ end }}
</div>
{{ end }}
